.formItemExtended,
.shortFormItemExtended {
  margin-bottom: 20px;

  :global {
    .ant-form-item-explain {
      font-size: 13px;
      margin-left: 2px;
    }

    .ant-form-item-label {
      padding: 0;

      label {
        height: 26px;
      }
    }
  }
}

.shortFormItemExtended {
  width: 50%;

  :global {
    .ant-picker {
      width: 100%;
    }
  }
}
