.radio {
  margin-left: 12px;
  font-size: 17px;
  font-family: "Calibre-Regular", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.firstRadio {
  font-size: 17px;
  font-family: "Calibre-Regular", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
